body{
    background-repeat:  repeat;
    background-color: #cccccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

canvas {
    position: center;
}



h1 {
    color: rgb(4, 182, 63);
}

div {
    color: rgb(5, 158, 48); 
    font-weight: bolder;
    text-align: center;
    font-size: large;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    padding: 1px;
    margin: 20px;
    box-sizing: border-box;
    border: 2px solid;
   

}

#controls{
    color: rgb(5, 158, 48); 
    font-weight: bolder;
    padding: 1px;
    font-size: 0.9em;
    text-align: center;
    box-sizing: border-box;  
}


h2{
    color: rgb(3, 182, 51);
}



button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    font-size: 18px;
  }