body{
       
       
        background-repeat:  repeat;
        background-color: #cccccc;
       
      
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

canvas {
    position: center;

}

#spacebar-hint {
	position: justify;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	color: green;
}

h1 {
    color: rgb(4, 182, 63);
}

div {
    color: rgb(5, 158, 48); 
    font-weight: bolder;
    text-align: center;
    font-size: large;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 580px;
    margin-left: 595px;
    box-sizing: border-box;
    border: 2px solid;
   

}
div1 {
    color: rgb(5, 158, 48); 
    width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


h2{
    color: rgb(3, 182, 51);
}

background image{
    opacity: 0.5;
}

button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    font-size: 18px;
  }